/****** Variables ******/
* {
  font-family: "Raleway", sans-serif;
  color: #000000;

  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

/****** Icons ******/
.fa-solid {
  color: var(--main-color);
}

/****** General ******/
body {
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.page-container {
  width: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 50px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/****** Header ******/
#header {
  height: 79px;
  width: -webkit-fill-available;
  width: -moz-available;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 19px;
  width: 60px;
}

#menu {
  height: 35px;

  display: flex;
  align-self: flex-start;
  gap: 68px;
}

.navLink {
  display: flex;
  align-items: flex-end;
}

.navLink:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Page Body ******/
.body-container {
  width: -webkit-fill-available;
  width: -moz-available;

  display: flex;
  flex-direction: column;
  gap: 35px;

  margin: 30px 0 35px 0;
}

#info-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/** Headline **/
#info-group #headline h1 {
  margin-bottom: 8px;
}

/** Search Bar **/
#info-group #input-search-container {
  display: flex;
}

#input-search-container .location-pin-icon {
  min-width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  color: black;

  background: var(--main-bg-color);

  border-radius: 15px 0 0 15px;
}

#input-search-container #search-input {
  font-size: 18px;
  font-weight: bold;

  border: solid 1px var(--main-bg-color);

  padding: 14px 24px;
}

#input-search-container .search-submit-button {
  color: white;
  font-size: 18px;
  font-weight: bold;

  border-color: transparent;
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);

  padding: 14px 16px;
}

#input-search-container .search-submit-button:hover {
  cursor: pointer;
}

#input-search-container #search-icon-button {
  display: none;

  border-radius: 15px;
}

#input-search-container #search-icon-button i {
  color: white;
}

/** Filters **/
#filter-bar {
  display: flex;
  align-items: center;
  gap: 15px;
}

#filter-bar .filter {
  display: inline-flex;

  font-size: 17px;
  font-weight: bold;

  border: solid 2px var(--border-color);
  border-radius: 25px;

  padding: 14px 19px;
}

#filter-bar .filter:hover {
  background-color: var(--filter-bg-color);

  cursor: pointer;
}

#filter-bar .filter .filter-icon {
  font-size: 1.05em;

  padding-right: 10px;
}

.info-bar {
  display: flex;
  align-items: center;
}

.info-bar .info-icon {
  font-size: 0.625em;

  border: solid 1px var(--border-color);
  border-radius: 50px;

  margin-right: 10px;
  padding: 6px 10px;
}

/****** Sections ******/
.card {
  display: flex;

  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

  padding: 5px;
}

.card img {
  object-fit: cover;
}

.card-subtitle {
  font-size: 14px;

  margin-bottom: 8px;
}

/****** Accommodations And Popular ******/
.accommodations-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodations-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;

  padding: 30px;
  padding-bottom: 0;
}

/** Accommodations **/
#accommodations-section {
  width: 65%;
}

.accommodations-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin: 30px 0;
}

.accommodations-cards .card {
  height: fit-content;

  flex-direction: column;
}

.accommodations-cards .card img {
  height: 124px;

  border-radius: 20px 20px 0 0;
}

.accommodations-cards .card .card-content {
  padding: 8px 12px;
}

.accommodations-cards .card .card-text * {
  padding-bottom: 8px;
}

#accommodations-section #show-more-button {
  font-size: 18px;
  font-weight: bold;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

/** Popular **/
#popular-section {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards {
  margin: 30px 0;
}

.popular-cards .card {
  margin-bottom: 30px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

/** Misc **/

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Media Queries ******/

/* Large devices */
@media (width > 1440px) {
  .page-container {
    width: 1440px;
  }
}

/* Medium devices */
@media (width <= 1024px) {
  .accommodations-and-popular {
    flex-direction: column;
  }

  .accommodations {
    width: 100%;
  }

  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards .card {
    width: 30%;
  }

  .popular-cards .card-title {
    font-size: 14px;
  }

  .popular-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices */
@media (320px <= width <= 768px) {
  /* ... */
}
