/****** Variables ******/
* {
  font-family: "Raleway", sans-serif;
  color: #000000;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

/****** Icons ******/
.fa-solid {
  color: var(--main-color);
}

/****** General ******/
body {
  width: 100vw;

  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.page-container {
  width: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  padding: 0 50px;
}

h3 {
  font-size: 18px;
  font-weight: bold;

  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/****** Header ******/
#header {
  height: 79px;
  width: -webkit-fill-available;
  width: -moz-available;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 19px;
  width: 60px;
}

#menu {
  height: 35px;

  display: flex;
  align-self: flex-start;
  gap: 68px;
}

.navLink {
  display: flex;
  align-items: flex-end;
}

.navLink:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Footer ******/
#footer {
  width: -webkit-fill-available;
  width: -moz-available;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--main-bg-color);

  padding: 20px;
}

#footer .footer-section {
  display: flex;
  flex-direction: column;
}

#footer .footer-section .footer-header,
#footer .footer-section-navlinks li {
  padding-bottom: 15px;
}

#footer .footer-section-navlinks li:last-child {
  padding: 0;
}

/****** Media Queries ******/

/* Large devices */
@media (width > 1440px) {
  .page-container {
    width: 1440px;
  }
}

/* Medium devices */
@media (width <= 1024px) {
  /* ... */
}

/* Small devices */
@media (320px <= width <= 768px) {
  /* ... */
}
